<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col column">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a routerLink="./c-language/">C</a></li>
          <li><a routerLink="./front-end-development/">UI Design</a></li>
          <li><a routerLink="./back-end-development/">PHP</a></li>
          <li><a routerLink="./java-programming-language/">Java</a></li>
          <li><a routerLink="./android/">Android</a></li>
          <li><a routerLink="./templates/">Templates</a></li>
        </ul>
      </div>

      <div class="col column">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a routerLink="./about/">About Us</a></li>
          <li><a routerLink="./contact/">Contact Us</a></li>
          <li><a routerLink="./contribute-at-scanfcode/">Contribute</a></li>
          <li><a routerLink="./privacy-policy/">Privacy Policy</a></li>
          <li><a routerLink="./sitemap/">Sitemap</a></li>
        </ul>
      </div>
      <div class="col c12">
        <ul class="social-icons">
          <li><a class="facebook" routerLink="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="twitter" routerLink="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="dribbble" routerLink="#"><i class="fab fa-dribbble"></i></a></li>
          <li><a class="linkedin" routerLink="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row x-center">
      <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
        <a routerLink="#">RGT Solutions Ltd</a>.
      </p>
    </div>
  </div>
</footer>
