<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 class="text-center">Our Team</h2>
<div class="row x-center">
  <div class="col c8">
    <div class="card" *ngFor="let companyMember of companyMembers">
      <img class="full" [src]="companyMember?.img" [alt]="companyMember?.imgAlt">
      <div class="container">
        <h2>{{companyMember?.title}}</h2>
        <p class="title">{{companyMember?.title}}</p>
        <p>{{companyMember?.desc}}</p>
        <p>{{companyMember?.email}}</p>
        <app-contact-btn></app-contact-btn>
      </div>
    </div>
  </div>
</div>
